<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ui">

    //데이터 베이스 연결을 위한 코드
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/inatech"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/inatech_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UI"
        android:name=".MyApplication">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SubActivity"/><!--액티비티 추가할 때 꼭 해줘야 한다.-->
        <activity android:name=".Timer_Activity"/>
        <activity android:name=".recode_Activity"/>
        <activity android:name=".db_Activity"/>
    </application>
</manifest>